@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  line-height: 1.3;
  letter-spacing: 1px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --font-dark-bg: #3bba9c;
  --bg-dark-prim: #2e3047;
  --bg-light-heading: #707793;
  --bg-light-general: #f7f7f7;
}

/* Overall layout styling */
body {
  display: flex;
}

/* This is largely preliminary styling to get the overall layout */
header {
  width: 300px;
  background: var(--bg-dark-prim);
  color: var(--font-dark-bg);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: scroll;
  padding: 5px;
}

main {
  background: var(--bg-light-general);
  margin-left: 300px;
  height: 100vh;
  padding: 10px;
}

@media screen and (max-width: 815px) {
  header {
    display: none;
  }

  main {
    margin: 0;
  }
}
